/*------- Reset-General--------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, label{
    font-family: 'Francois One', 'Roboto', sans-serif;
}

/*--------------Colores-Fondos----------*/

.fondo-blanco{
    background-color: #FFFFFF;
}

.fondo-verde-01{
    background-color: #A5BCC2;
}

.fondo-verde-02{
    background-color: #3E5E66;
}

.fondo-rosa-01{
    background-color: #FCBCC4;
}

.fondo-rosa-02{
    background-color: #B33848;
}

.fondo-gris{
    background-color: #d9dde2;
}

/*--------- COLORES_TEXTO---------*/

.texto-blanco{
    color: #FFFFFF;
}

.texto-negro{
    color: black;
}

.texto-verde-01{
    color: #89A7AE;
}

.texto-verde-02{
    color: #3E5E56 !important;
}

.texto-rosa-01{
    color: #F48493;
}

.texto-rosa-02{
    color: #B33848;
}

/*------ TEXTO ---------*/

p {
    padding: 10px 20px 10px 10px;
    color: #212121;
    line-height: 1.6em;
}


/*---------- LINEA (ROW) DE CAJAS ---------*/

.linea{
    width: 100%;
    padding: 20px;
}


/*--------- BOTONES ------*/


.boton,
.boton:visited {
    border-radius: 3px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    margin-left: 10px;
    font-weight: bold;
}

.boton:hover {
    background-color: #547C86;
    color: #FFFFFF;
}

/*------- CONTENEDOR -------------*/

.contenedor{
    display: table;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.contenedor ul li {
    margin-left: 30px;
    padding: 10px 20px 0px 0px;
    color: #212121;
    line-height: 1.6em;
}

.clearfix{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*---------- SECCIONES ---------*/

.bloque{
    width: 100%;
    height: auto;
    float: left;
    padding: 100px 15px;
}

.bloque h1 {
    text-align: left;
    width: 100%;
    padding: 5px 0;
    font-size: 3em;
    border-bottom:  3px solid #CE4456;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.bloque h2 {
    text-align: left;
    font-weight: 500;
    width: 100%;
    padding: 15px 0 5px 0;
    font-size: 2em;
    color: #212121;
    margin-bottom: 30px;
    border-bottom: 3px solid #547C86;
}

.bloque h1 .enfoque{
    text-align: center;
    width: 100%;

    padding-bottom: 10px;
    margin-bottom: 50px;
}

/*-----------CAJAS-----------*/

.caja-15{
    width: 15%;
    float: left;
}

.caja-20{
    width: 20%;
    float: left;
}

.caja-25{
    width: 25%;
    float: left;
}

.caja-50{
    width: 50%;
    float: left;
    top: auto;
}

.caja-60{
    width: 60%;
    float: left;
    top: auto;
}

.caja-70{
    width: 70%;
    float: left;
    top: auto;
}

/*----------- CABECERA ------------*/

.cabecera{
    width: 100%;
    height: auto;
    float: left;
    background-color: #C0D5D1;
    border-bottom: 5px solid #EF697B;
    padding-bottom: 20px;
}


/*---------- LOGO ----------*/

.logo {
    width: 25%;
    text-align: center;
    float: left;
    padding-top: 1em;
}

.logo img{
    width: 100%;
}


/*----------- MENÚ -------*/

.menu{
    width: 75%;
    height: 50px;
    float: left;
}

.menu ul {
    width: 100%;
    height: 75px;
    margin: 1.5em 0 0 0;
    list-style: none;
}

.menu ul li {
    float: left;
    width: 19%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    font-family: 'Francois One', 'Roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    color: #334F55;
    text-transform: uppercase;
    font-weight: bold;
}

.menu ul li a:hover,
.menu ul li a.active{
    background-color: #E95064;
    color: #FFFFFF;
}

/*--------- PIE DE PAGINA _-------*/

.pie-pagina{
    width: 100%;
    height: auto;
    float: left ;
}

.pie-pagina .logo {
    width: 100%;
}

.pie-pagina .logo img {
    width: 100%;
    text-align: center;
    padding: 10px;
}


/*--------- PIE PAGINE - MENÜ -----------*/


.pie-pagina .menu {
    width: 100%;
    height: 50px;
}

.pie-pagina .menu ul {
    width: 100%;
    height: 75px;
    margin: 25px auto;
    list-style: none;
}

.pie-pagina .menu ul li {
    float: left;
    text-align: center;
    margin: 0 5px;
    width: 23%;
}

.pie-pagina .menu ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    border-radius: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

.pie-pagina .menu ul li a:hover {
    color: #FED9DE;
    background-color: transparent;
    border-bottom: 3px solid #FFFFFF;
}

/*------ PIE DE PAGINA - REDES SOCIALES -------*/

.pie-pagina h4 {
    margin: 35px 10px 20px 10px;
    text-transform: uppercase;
}

.rs{
    width: 75%;
    height: 75px;
    margin: 0 auto 40px auto;
}

.rs a {
    text-decoration: none;
}

.rs img {
    padding: 0;
    width: 12%;
    margin: 0 3%;
}

/*------------ INDEX - BANNER-------*/

.banner{
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/index-banner.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 112px;
    margin-bottom: 112px;
}

.banner-texto {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-texto h1 {
    font-size: 4em;
    font-weight: 600;
}

.banner-texto p {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.6em;
}

/*------------ INDEX - CAJA - AREAS DE ENFOQUE ----------*/

.caja-enfoque{
    position: relative;
    width: 29%;
    margin-right: 2.15%;
    margin-left: 2.15%;
    float: left;
    padding-bottom: 15px;
    height: auto;
    line-height: 1.3em;
}

.caja-enfoque img {
    width: 100%;
    border-bottom: 5px solid #CE4456;
}

.caja-enfoque h3 {
    margin-left: 10px;
    margin-right: 15px;
}

.caja-enfoque .boton {
    width: 93%;
    text-align: center;
}


/*---------- CONTACTENOS ----------*/

.envoltorioformulario{
    width: 95%;
    margin: 0 15px;
}

.envoltorioformulario .line {
    margin: 10px 0;
}

.envoltorioformulario .line-boton{
    margin: 10px 0 15px 0 !important;
    width: 85%;
    float: right;
}

.envoltorioformulario form label {
    display: block;
    width: 15%;
    float: left;
    margin-top: 5px;
}

.envoltorioformulario form input {
    display: block;
    width: 85%;
    float: left;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CE4456;
}

.envoltorioformulario form textarea {
    display: block;
    width: 85%;
    height: 150px;
    float: left;
    padding: 10px;
    border-radius: 5px;
    border:  1px solid #CE4456;
}

.enviar{
    display: inline-block;
    width: 49% !important;
    border: 1px solid #496D76 !important;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.enviar:hover {
    background-color: white;
    color: #496D76;
}

.borrar{
    display: inline-block;
    width: 45% !important;
    margin-left: 5%;
    border: 1px solid #d9dde2 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.borrar:hover {
    background-color: #CE4456 !important;
    color: #FFFFFF !important; 
}

/*--------- BOTON - IR ARRIBA ------*/

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #CE4456;
    border-radius: 10px;
}

.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, backgraund-color .3s;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0.5) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), .8);
}
